.select span.main {
    display: inline-block;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px black solid
}
.item.selected {
    background-color: cornflowerblue;
    color: white;
}
/*
.select.active .items {
    display: block;
}*/
